<?xml version="1.0"?>
<config>
    <modules>
        <AllBear_PciAuth>
            <version>0.1.0</version>
        </AllBear_PciAuth>
    </modules>
    <global>
        <blocks>
            <allbear_pciauth>
                <class>AllBear_PciAuth_Block</class>
            </allbear_pciauth>
        </blocks>
        <models>
            <allbear_pciauth>
                <class>AllBear_PciAuth_Model</class>
            </allbear_pciauth>
            <customer>
                <rewrite>
                    <customer>AllBear_PciAuth_Model_Customer_Customer</customer>
                </rewrite>
            </customer>
        </models>
        <helpers>
            <allbear_pciauth>
                <class>AllBear_PciAuth_Helper</class>
            </allbear_pciauth>
        </helpers>
        <resources>
            <allbear_pciauth_setup>
                <setup>
                    <module>AllBear_PciAuth_Helper</module>
                </setup>
            </allbear_pciauth_setup>
        </resources>
    </global>
    <frontend>
        <translate>
            <modules>
                <AllBear_PciAuth>
                    <files>
                        <default>AllBear_PciAuth.csv</default>
                    </files>
                </AllBear_PciAuth>
            </modules>
        </translate>
        <layout>
            <updates>
                <allbear_pciauth>
                    <file>allbear_pciauth.xml</file>
                </allbear_pciauth>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <AllBear_PciAuth>
                    <files>
                        <default>AllBear_PciAuth.csv</default>
                    </files>
                </AllBear_PciAuth>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <allbear_pciauth>
            <settings>
                <password_min_length>8</password_min_length>
            </settings>
        </allbear_pciauth>
    </default>
</config>
